* {
    box-sizing: content-box;
}
body {
    background-color: black;
}
.chord {
    background-color: green;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    border-radius: 16px;
    float: left;
    color: white;
    display: block;
    opacity: .6;
    transition: opacity .3s;
}

.chords {
    display: flex;
    position: absolute;
    top: 520px;
}

.chord-name{
  margin: 10px;
  position: absolute;
}

.cursor {
    border-right: 2px solid white;
    position: absolute;
    left: 50%;
    display: block;
    width: 2px;
    top: 520px;
    height: 40px;
    z-index: 100;
}

.looper {
    display: flex;
}
.looper-wrapper {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    padding: 10px;
}
.looper-title {
    font-size: 15px;
    font-weight: 500;
}
.looper-info {
    font-size: 10px;
    color: #ccc;
    margin-bottom: 5px;
}
.button-looper {
    background-color:#185036;
    height: 9px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 700;
    border-radius: 16px;
    float: left;
    padding: 10px;
    color: white;
    display: block;
    cursor: pointer;
    margin-bottom: 17px;
    opacity: 1;
}

.button-looper-looping{
    background-color:#b3711e;
}

.disabled {
    opacity:.5;
}

.progbar {
    display: flex;
    background-color: grey;
    height: 10px;
    border-radius: 15px;
}

.perc {
    background-color: brown;
    position: relative;
    top: 0%;
    left: 0%;
    border-radius: 15px;
}


.chords-display {
    display: flex;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: row;
    justify-content: space-around;
    width: 31%;
    float: right;
    border: 1px solid #ccc;
    padding: 2px;
    border-radius: 16px;
    /* position: relative;
    top: 15px; */
}
.current-chord {
    font-size: 45px;
    font-weight: 700;
    min-width: 30px;
}
.prev-chord {
    font-size: 24px;
    opacity: .6;
    font-weight: 700;
    min-width: 30px;
    text-align: center;
    padding-top: 13px;
}

.playpause {
    display: flex;
    width: 50px;
    cursor: pointer;
    background-color: #ddd;
    border-radius: 50%;
}
.playpause img {
    max-height: 50px;
}

.dashboard {
    display: flex;
    align-items: center;
    flex-flow: row-reverse;
    justify-content: space-between;
}
